body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

header {
    text-align: center;
    padding-bottom: 40px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.service {
    flex: 1 1 calc(50% - 15px);  /* This will make each service box take up roughly 50% of the container's width minus half the gap */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

h1, h2 {
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding-top: 40px;
    border-top: 1px solid #ddd;
}

@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
    }

    .service {
        flex: 1 1 100%;
    }
}
